@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

*{
    font-family: "Nunito Sans", serif;
}
a{
    text-decoration: none;
    color: inherit;
    }
img{
    width: 100%;
}


  .login-form{
      /* min-height: 100vh;  */
    height: 100vh;
  }
  .login-box{
    box-shadow: 0px 6px 58px 0px #0000001A;
    border-radius: 24px;
  }
  .login-form .login-left{
      width: 100%;
      background-color: #4263EB;
      /* padding: 0 115px; */
      border-radius: 24px;
      height: 100%;
    }
    .login-form .login-left .login-left-content{
        width: 100%;
        max-width: 515px;
        margin: auto;
      }
  .login-form .brand-logo{
        width: 100%;
        max-width: 168px;
  }
  .login-form .login-left h1{
   font-size: 48px;
   color: #ffffff;
   width: 100%;
   max-width: 515px;
   margin: 32px 0       ;
}
.login-right{
    width: 100%;
    max-width: 522px;
    margin: auto;
    padding: 24px 0;
}

.login-right .login-form-title h2{
    font-size:40px ;
    font-weight: 700;
    color: #0A1629;
}
.login-right form label{
    font-size:20px ;
    font-weight: 700;
    color: #7D8592;
}
.login-right form input{
    font-size: 18px ;
    font-weight: 400;
    color: #7D8592;
    padding: 16px 32px !important;
}
.login-right form input[type="tel"]{
    margin-left: 110px;
}

.iti--allow-dropdown .iti__flag-container, .iti--separate-dial-code .iti__flag-container {
    right: auto;
    left: 0px;
    border: 1px solid #dee2e6;
    border-radius: 0.375rem;
}
.iti--separate-dial-code .iti__selected-flag {
    background-color: inherit;
}





.login-right .code-inputs {
    display: flex;
    gap: 10px;
  }
  
  .login-right .code-box {
    width: 58px;
    height: 48px;
    text-align: center;
    font-size: 18px;
    border: 2px solid #ddd;
    border-radius: 8px;
    outline: none;
    transition: border-color 0.3s ease;
    padding: 4px !important;
  }
  
  .login-right .code-box:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  .login-right .signin-btn button{
    background-color: #4263EB;
    border-radius: 14px;
    padding: 14px 52px;
    color: #ffffff;
    border: 1px solid #4263EB;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }
  .login-right .login-text p{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 0;
  }
  .login-right .login-text p a{
    font-size: 18px;
    font-weight: 700;
    color: #4263EB;   
  }
  .field-icon {
    float: right;
    margin-right: 25px;
    margin-top: -40px;
    position: relative;
    z-index: 2;
    cursor: pointer;
  }
  .sms-notify {
    background-color: #EEF2FA;
    width: 100%;
    max-width: 403px;
    border-radius: 14px;
    padding: 21px;
    display: flex;
    gap: 8px;
  }
  .sms-notify .iconify {
    width: 32px;
    height: 24px;
    border-radius: 50%;
    background-color: #4263EB;
    color: #ffffff;
    padding: 4px;
    transform: rotate(180deg);
  }
  .sms-notify p {
    color: #007bff;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 0;
  }
  .checked-condetion .form-check input {
    width: 32px;
    height: 32px;
    padding: 0 !important;
  }
  .checked-condetion .form-check label {
    font-size: 16px;
    font-weight: 400;
    padding: 0 !important;
  }
  .checked-condetion a {
    font-size: 16px;
    font-weight: 600;
    color: #4263EB;
    margin-bottom: 0;
  }